.verse-view {
  flex: 1;
  padding-right: 10px;

  .row {
    display: flex;
    align-items: center;

    .text {
      margin-left: 10px;
    }
  }
}

.full-chapter-view {
  flex: 1;
  border-left: 1px solid black;
  padding-left: 10px;
  position: relative;

  .position-title {
    position: absolute;
    top: 0;
    left: 10px;
  }

  .position-button {
    position: absolute;
    right: 0;
  }

  .position-text {
    margin-top: 50px;
  }
}

.text-collection {
  display: 'flex';
}
